[2015-11-26 13:36] Saheb opened #7 "Allow injecting HttpClient for NexmoClient"
HttpClient is strongly coupled in Nexmo's clients, and there isn't a a setter which allows to configure and plugin a HttpClient of my choice. My use case being I want to plugin a proxy for httpClient.

I am in urgent need for this functionality, so kindly let me know if any existing contributors is going to work on this or you would require me to fix it and send a PR.

[2015-11-26 14:31] thepeachbeetle commented on #7
Hi,

There is no effort under way currently to do this, so please go ahead and submit a PR

[2015-11-26 15:52] Saheb commented on #7
https://github.com/Nexmo/nexmo-java/pull/8

[2015-11-30 10:03] #7 closed

[2016-01-20 00:29] emcrisostomo opened #9 "Bump httpclient to 4.2 (or superior) to pre-configure a client using Java SE networking properties"
`HttpClient` v. 4.2 [introduces](https://issues.apache.org/jira/browse/HTTPCLIENT-1128) the possibility of pre-configuring a client using the standard [Java SE networking properties](http://docs.oracle.com/javase/6/docs/technotes/guides/net/proxies.html).  I suggest bumping the dependency to at least 4.2 and refactor the code to take advantage of this possibility.  It should be as simple as creati

[2016-04-22 13:37] leggetter opened #10 "Add to Maven"

[2016-04-26 18:54] leggetter opened #11 "Build with Gradle"

[2016-06-22 03:17] 0312birdzhang opened #12 "How to use voice api?"
I found nothing about  <a href="https://docs.nexmo.com/voice/call?utm_source=DEV_REL&utm_medium=github&utm_campaign=python-client-library">voice call api</a>
So...is it no finished yet?

[2016-06-22 22:38] leggetter commented on #12
The API is complete. But this library doesn't presently support voice. More documentation on the support it currently supports can be found here:
https://docs.nexmo.com/messaging/java-sdk

If you wish to use the Voice API then I'd suggest either adding the functionality to this library (a PR would be appreciated) or interacting with the API directly with your own code. The API reference can be fou

[2016-06-22 22:38] #12 closed

[2017-01-19 10:04] judy2k commented on #11
This is resolved on the upcoming `version-2` branch.

[2017-01-19 10:04] #11 closed

[2017-02-04 16:43] judy2k commented on #10
This has been resolved by the first `2.0.0-SNAPSHOT` release.

[2017-02-04 16:43] #10 closed

[2017-02-04 16:43] judy2k commented on #9
HttpClient has been bumped to 4.5 in the first `2.0.0-SNAPSHOT` release.

[2017-02-04 16:44] #9 closed

[2017-02-07 01:52] youngchen1987 opened #37 "nexmo-java not support maven?"
nexmo-java not support maven?

[2017-02-07 10:16] judy2k commented on #37
Hi @youngchen1987

We do support Maven. Please try the following:

[code]

If it doesn't work, let us know and we'll fix it!

[2017-02-07 10:28] AdamGhani commented on #37
For me, I have to point to the repo.
`
<repositories>
    <repository>
            <id>nexmo</id>
            <url>https://oss.sonatype.org/content/repositories/snapshots/</url>
    </repository>
<repositories>
`

[2017-02-07 14:16] judy2k commented on #37
Thank you @AdamGhani! I didn't have a chance to check whether that was required.

@youngchen1987 I recommend you add this repositories snippet as well as the dependency snippet. Let us know how you get on!

[2017-02-07 14:16] judy2k commented on #37
I will validate this feedback and add it to the README.

[2017-02-07 14:23] stepio commented on #37
Any plans to do a release version and upload it to maven central?

[2017-02-07 15:12] judy2k commented on #37
Absolutely! It's coming as soon as the API is fully stabilized. We have to
move some objects around before we're happy for a final production release.

On Tue, 7 Feb 2017, 15:23 Igor Stepanov, <notifications@github.com> wrote:

[2017-02-19 14:04] leggetter opened #39 "new JWTAuthMethod throws java.security.InvalidKeyException: Private key should be provided in PEM format!"
Steps to reproduce:

1. create a new application using the Nexmo CLI
2. Execute code: `new JWTAuthMethod(applicationId, pathToPrivateKey);`

Digging a bit deeper there seems to be something potentially going on with the contents of the file as stored by the CLI. If you output it to stdout then it looks fine. If you copy and past the content into a string the PEM regexp works fine. But reading dire

[2017-02-19 14:14] judy2k commented on #39
FYI, my pem file predates the flag for the CLI to save the key to file. So my file will have been created by copy/pasting from the console into a file. I don't know if this makes any difference, but... maybe.

[2017-02-19 14:19] judy2k commented on #39
@leggetter Could you change the regex so that it has `\\n?` at the end to catch a trailing newline, if there is one?

[2017-02-19 14:20] leggetter commented on #39
@judy2k Changing the regex doesn't make any difference. I event tried just `BEGIN` as the regex. There's some kind of fundamental problem in reading the file and converting it to a `String`. Let's look at this outside of the weekend :)

[2017-02-19 14:28] leggetter commented on #39
With the regex of:

`"-----BEGIN PRIVATE KEY-----\\n(.*\\n)-----END PRIVATE KEY-----", Pattern.MULTILINE | Pattern.DOTALL`

The output is:

[code]

[2017-02-19 14:52] leggetter opened #40 "new JWTAuthMethod throws "java.lang.NoClassDefFoundError: com/auth0/jwt/JWTSigner""
With the following code:

[code]

I see the following stacktrace:

[code]

My `build.gradle` looks as follows:

[code]

This looks like a dependency hasn't been found. What steps should I undertake to insure this dependency is installed?

[2017-02-19 15:07] leggetter commented on #39
Some test code for this available via https://github.com/nexmo-community/nexmo-java-quickstart/blob/master/src/main/java/App.java

[2017-02-19 15:07] leggetter commented on #40
Test code available via https://github.com/nexmo-community/nexmo-java-quickstart/blob/master/src/main/java/App.java

[2017-02-20 10:36] #39 closed

[2017-02-20 10:37] judy2k commented on #39
This was due to a trailing line break at the end of the PEM file, and the regex for extracting the key data being to strict. I've fixed and am publishing a new SNAPSHOT release.

[2017-02-20 12:12] judy2k commented on #39
@leggetter Could you check the new SNAPSHOT release against your test? You may want to use one of the techniques in [this slide](https://speakerdeck.com/emmatresanszki/best-practices-mobile-sdks-droidcongreece16?slide=17) to make sure the new release is downloaded.

[2017-02-20 12:49] leggetter commented on #39
Looks to be resolved. I'm now at #40

[2017-02-20 21:15] leggetter opened #42 "Should support full JSON structures when generating JWTs"
`JWTAuthMethod` presently offers a `String constructToken(long iat, String jti)` method.

It should be possible to in more complex structures.

See: https://github.com/Nexmo/client-library-specification/issues/22

[2017-02-21 11:36] judy2k commented on #40
Created a test environment from `nexmo-java-quickstart` and ran `gradle test` - the problem did not occur. I'd suggest that this was maybe an intermittent problem, perhaps a network failure, or something unusual about the affected system.

[2017-02-21 11:36] #40 closed

[2017-03-10 09:18] nbleisch opened #47 "Missing a proper release version?"
Hey there, I (we) would like to use your client but feel a bit uncertain about using your SNAPSHOT version because we would like to make our build artifact as reproducible as possible.
Therefore, I'd like to ask if it's possible to introduce proper release versions next to the snapshots.

Thanks in advance

[2017-03-10 09:33] judy2k commented on #47
Hi there!

The SNAPSHOT status accurately reflects the current stability of the library's interface. *However* I've nearly finished the changes required for a final release. If you're using the Voice API then this snapshot will be compatible with the release. The other APIs are all being restructured first. You may be best waiting a couple of days for the non SNAPSHOT release.

[2017-03-10 10:38] nbleisch commented on #47
Thx for your quick reply @judy2k .
For now, we're only interested in sending SMS messages.
Looking forward for your "non-SNAPSHOT" release.

[2017-03-13 10:21] nbleisch opened #48 "Disable https requirement via configuration"
right now, the nexmo client expects only a https endpoint which makes totally sense in the context of a production environment but is a bit costly when trying to use and configure a mock for testing purposes.

Therefore, it would be really neat, if the client can by configured to use a plain http endpoint instead. This could be achieved by having an environment variable, system property or even an

[2017-03-14 19:38] stefanscheidt opened #49 "Local build failes"
I just cloned the repo and tried to build master via `./gradlew build` but the build failed because the examples didn't compile.

[code]

[2017-03-14 19:50] stefanscheidt commented on #49
See https://github.com/Nexmo/nexmo-java/pull/50.

[2017-03-15 07:23] stefanscheidt commented on #49
Won't be fixed. See comment's in PR #50 .

[2017-03-15 07:23] #49 closed

[2017-03-15 08:36] stefanscheidt commented on #48
Another possible solution could be to replace the "throw new IllegalArgumentException" in the url check in LegacyClient Constructor with a "logger.warn ...".

[2017-03-16 16:13] judy2k commented on #37
We've released a final version of 2.0.0, and how to use it with Maven is documented in the README, so I'm closing this issue.

[2017-03-16 16:13] #37 closed

[2017-03-16 16:13] judy2k commented on #47
Hi @nbleisch - we've just released 2.0.0 final onto Maven Central, and we'd love to know what you think!

[2017-03-16 16:13] #47 closed

[2017-03-17 09:33] judy2k commented on #48
I'll give this some thought and see what we can do. I suspect it'll be an explicit 'opt-in' thing, as I don't want people to be able to do this without considering the risks.

[2017-03-19 20:49] nbleisch commented on #47
Works very well. Thanks

[2017-03-28 12:02] stefanscheidt commented on #48
Hi.

Are there any updates regarding making a service that uses the Nexmo Client testable?
The idea is to be able to have E2E tests for a service that uses the Nexmo Client and let the client talk with a mock of the Nexmo service. For this we need a possibility to set the URL(s) the client(s) should be talking to.

Or is there a different idea on how to test a service that uses the Nexmo Client li

[2017-03-29 18:27] judy2k commented on #48
Hi @stefanscheidt

I think the problem here is that you're trying to mock the underlying HTTP service instead of the Nexmo Client library. The Nexmo Client Library has already been tested with the Nexmo API, to ensure that, when called properly, it creates the correct requests and response objects.

A better approach for your tests would be to mock the `NexmoClient` object (or `InsightClient` or w

[2017-03-29 18:30] judy2k opened #58 "Should allow baseUrl to be changed for all client objects"

[2017-03-29 19:02] stefanscheidt commented on #48
Hi @judy2k,

thanks for your reply. Your approach is a good idea and we already do exactly that for our unit tests. But we also do End-to-End-tests of our service and in this case we would like to test the service "as is". And then we would like to talk to a mocked Nexmo Service.

Kind Regards.
Stefan

[2017-03-30 10:45] judy2k commented on #48
So v2 of the library doesn't *currently* support changing the baseUrl at all, because I didn't have time to implement and test it. *But* it is on the list of things to implement. I've just opened #58 for this.

When I do implement it, I'll allow http URLs, because users will only be changing this value for testing anyway (*our* primary use case is testing the library against development versions o

[2017-03-30 10:45] #48 closed

[2017-03-30 10:52] stefanscheidt commented on #48
Great news. Thanks!

[2017-03-30 15:02] judy2k opened #59 "Possible bug when running under Tomcat"
The following stack trace has been observed when using nexmo-java under Tomcat 8.

[code]

[2017-03-31 16:06] parapunzi opened #60 "missing special characters in sms"
using 2.0.1 when sending a unicode SMS message, e.g.

`new NexmoClient().getSmsClient().submitMessage(new TextMessage(from, to, "text with umlaut öäü", true))`

I don't see those special charactes in the SMS -- and logs show that HttpClient is POST-ing with header

[2017-04-10 13:44] judy2k commented on #60
Hi @parapunzi - sorry for the delay getting back to you. We'll aim to reproduce this week, and hopefully fix. We'll let you know what we find.

[2017-04-10 14:32] parapunzi commented on #60
thanks - btw. I had temporarily to revert to nexmo client client-2.0.0-20170220.120052-2.jar because the httpclient 4.5 library in 2.0.1 conflicts with resteasy on jboss 6.4 (see https://bugzilla.redhat.com/show_bug.cgi?id=1266122).
And found out that when using the older client lib together with httpclient 4.3.6 the umlauts work..

[2017-04-12 10:15] judy2k opened #61 "`AbstractMethod` is in the wrong package."
`AbstractMethod` is in `com.nexmo.client.voice.endpoints`, but is shared across all the APIs, so should be under `com.nexmo.client` or a common package.

[2017-04-12 14:37] judy2k commented on #60
@parapunzi The bug is with the HttpClient's RequestBuilder class, and the bug still exists in 4.3.6. In the 2.0.0 snapshot release we weren't using RequestBuilder for the SMS calls, so the bug isn't there. Unfortunately, moving to RequestBuilder has introduced the problem.

I've fixed it in #62 which is undergoing review, but it's not going to solve your jboss compatibility problem.

[2017-04-20 18:47] waggyza opened #63 "using setEventUrl for Voice Call returns an invalid parameter Bad Request"
When calling setEventUrl on a Call object, and then calling the VoiceClient createCall function using this object, the returned CallEvent has no set objects and no call is made. Output shows:

Received: {"type":400,"title":"Bad Request","invalid_parameters":[{"reason":"Invalid type parameter provided","name":"event_url"}]}

If setEventUrl is not called, then the CallEvent is correctly set and a ca

[2017-04-20 20:18] judy2k commented on #63
@waggyza Thanks for reporting this. I'll investigate and get back to you.

[2017-04-21 15:23] ChrisGuzman commented on #63
Hi @waggyza

I think this is a bug in the library. When setting an event url, the library should convert that string to a list before it sends it to the API. I'll have a PR filed for this soon.

Thanks for filing this bug! We'd like to send you a thank you gift. Can you email me at chris.guzman [at] nexmo [dot] com?

[2017-04-30 06:56] milon87 opened #65 "getting invalid signature but same code worked before."

[2017-04-30 07:08] #65 closed

[2017-04-30 07:08] milon87 commented on #65
it will be in the android sdk.

[2017-05-02 15:30] #63 closed

[2017-05-04 14:31] judy2k commented on #60
This problem's been fixed in the new 2.0.2 release.

@parapunzi Thank you for reporting this bug so we could fix it!

[2017-05-04 14:31] #60 closed

[2017-06-09 15:57] stefano-DM opened #67 "GAE support"
Hi,

Is there a way to make this lib work on a standard GAE environment?

I tried setting the httpClient like this
[code]
but I'm still getting
[code]

looks like `setHttpClient` does not have the desired effect, since the `NexmoClient` constructor initializes the httpClient before setHttpClient is called.

Any help would be very much appreciated! Thanks

[2017-06-09 16:54] judy2k commented on #67
Hello! Can you give me the full stack trace you're seeing? I have some ideas...

[2017-06-09 17:00] stefano-DM commented on #67
Thanks for getting back to me, here is the stacktrace:
[code]

[2017-06-13 07:14] stefano-DM commented on #67
@judy2k did you have time to take a look at it? Thanks

[2017-06-19 09:42] littletower commented on #67
I had this dependency in my `pom.xml`
[code]

upgraded to `4.5` and it works fine.

[2017-06-19 09:43] #67 closed

[2017-06-20 11:28] stefano-DM opened #68 "Missing values in CallStatus?"
Hi,

How come  the `CallStatus` class does not contain values like `BUSY`, `FAILED`, `UNANSWERED`, `TIMEOUT`, `REJECTED`?

Calling `getCallDetails` on an call with `status : busy` will result in an error:
[code]
Thanks

[2017-07-07 14:25] nivanov85 opened #69 "com.fasterxml.jackson.databind.JsonMappingException on CANCELLED calls"
Caused by: com.fasterxml.jackson.databind.JsonMappingException: Can not construct instance of com.nexmo.client.voice.CallStatus, problem: No enum constant com.nexmo.client.voice.CallStatus.CANCELLED

[2017-07-13 14:35] everesio opened #71 "No setter on TextMessage.statusReportRequired"
TextMessage.statusReportRequired is always false and it cannot be changed without reflection.

[2017-07-13 20:32] ChrisGuzman opened #72 "Missing latest release and changelog for version 2.0.2"

[2017-07-17 15:49] leggetter commented on #72
Although the release had been tagged the GitHub release had not been edited to provide CHANGELOG information and that tag had then not been "released".

It has now been released https://github.com/Nexmo/nexmo-java/releases/tag/v2.0.2

[2017-07-17 15:49] #72 closed

[2017-07-17 15:57] leggetter opened #73 "Fully automate release process"
There are [numerous steps](https://github.com/Nexmo/nexmo-java/wiki/Releasing-nexmo-java#release-checklist) to the release process, some of which are manual. Can we improve those steps to ensure that none of them are missed as they were in #72?

[2017-07-19 18:32] georgep7n opened #74 "Add support for proxies"
Please provide a means for clients to set the hostname and port for a proxy, as the hardcoded direct connection to nexmo servers is not allowed in certain environments.

[2017-07-24 10:38] judy2k commented on #74
Sorry for the delay responding.

The NexmoClient class provides a `setHttpClient` method. If you call it with an Apache HttpClient object that has been configured with a proxy, you should get the behaviour you require.

You may find some of the HttpClient [example code](https://hc.apache.org/httpcomponents-client-ga/httpclient/examples/org/apache/http/examples/client/ClientProxyAuthentication.java

[2017-07-27 08:06] judy2k commented on #59
I'm going to close this issue because it has only been reported by one customer, and no progress has been made in reproduction or understanding the issue in 4 months.

[2017-07-27 08:06] #59 closed

[2017-07-27 08:09] judy2k commented on #69
This is a more specific duplicate of #68

[2017-07-27 08:09] #69 closed

[2017-08-21 12:04] judy2k opened #78 "Implement `searchSMS`"

[2017-08-21 12:13] judy2k opened #79 "Implement `getSMSRejections`"

[2017-08-21 12:17] judy2k opened #80 "Implement `submitConversion`"

[2017-08-21 12:19] judy2k opened #81 "Implement `getRecording`"

[2017-08-21 12:25] judy2k opened #82 "Implement `transferCall`"

[2017-08-21 12:30] judy2k opened #83 "Implement `earmuffCall`"
Specification is [here](https://developer.nexmo.com/api/voice#payload-3)

[2017-08-21 12:31] judy2k opened #84 "Implement `unearmuffCall`"
Specification is [here](https://developer.nexmo.com/api/voice#payload-3)

[2017-08-21 12:34] judy2k opened #85 "Implement `muteCall`"
Specification is [here](https://developer.nexmo.com/api/voice#payload-3)

[2017-08-21 12:35] judy2k opened #86 "Implement `unmuteCall`"
Specification is [here](https://developer.nexmo.com/api/voice#payload-3)

[2017-08-21 12:39] judy2k opened #87 "Implement `Account.getSMSPrice`"

[2017-08-21 12:40] judy2k opened #88 "Implement `Account.getVoicePrice`"

[2017-08-21 12:41] judy2k opened #89 "Implement `topupAccount`"

[2017-08-21 12:41] judy2k opened #90 "Implement `createApplication`"

[2017-08-21 12:42] judy2k opened #91 "Implement `getApplications`"

[2017-08-21 12:43] judy2k opened #92 "Implement `updateApplication`"

[2017-08-21 12:43] judy2k opened #93 "Implement `deleteApplication`"

[2017-08-21 12:44] judy2k opened #94 "Implement `searchNumbers`"

[2017-08-21 12:44] judy2k opened #95 "Implement `listNumbers`"

[2017-08-21 12:45] judy2k opened #96 "Implement `buyNumber`"

[2017-08-21 12:47] judy2k opened #97 "Implement `linkNumber`"

[2017-08-21 12:47] judy2k opened #98 "Implement `cancelNumber`"

[2017-08-21 12:48] judy2k opened #99 "Implement `cancelVerification`"

[2017-08-21 12:48] judy2k opened #100 "Implement `advanceVerification`"

[2017-08-21 12:51] judy2k opened #101 "Implement `getInsightAsync`"

[2017-08-21 12:53] judy2k opened #102 "Implement `generateJWT`"

[2017-08-21 12:55] judy2k opened #103 "Implement OAuth Authentication"

[2017-08-22 14:37] judy2k opened #106 "Implement `getBalance`"

[2017-08-24 11:35] judy2k opened #111 "Handle response parsing in `AbstractMethod.execute`"
*This would be a backwards-incompatible change for the 2.0 branch!*

Instead of calling `HttpClient.execute(request)` in `AbstractMethod.execute`, we could call `HttpClient.execute(request, responseHandler)`, which would return (probably) a domain-specific response type.

This has the advantage that it will cause HttpClient to follow redirects, should they be returned by the API, but also that err

[2017-08-29 04:11] jfei opened #112 "SMS client.getSmsClient().submitMessage( how to remove [TTC]"
SmsSubmissionResult[] responses = client.getSmsClient().submitMessage(new TextMessage(
					fromNumber,
			        toNumber,
			        msg,true));

how to remove [TTC] in sms message ?
thanks

[2017-08-29 04:11] jfei commented on #112
wait on line

[2017-09-07 14:18] mheap commented on #97
Looks like you can do this using `Number::update`. We may want to add a better API in the future e.g. `$number->linkToApplication($app)` but this works for now. I'll add examples once I get to NDP

[2017-09-18 09:12] judy2k commented on #99
Implemented by #115

[2017-09-20 12:45] idivad4 opened #118 "Multiple voice calls back to back"
Hi Nexmo Team,

I get the following error when my api attempts to make two voice calls back to back..  I have my voice calls routing looping through all the calls that need to be made.  I can only make a single call the second call is never made.  The parameters I pass in are the same except for the TO phone number:

com.nexmo.client.NexmoUnexpectedException: Failed to produce json from Call objec

[2017-09-20 14:37] judy2k commented on #118
Hi @idivad4 - we think this error (which admittedly isn't very helpful) is because you are being rate limited. Could you put a 2 second delay between the calls and see if the problem resolves itself?

[2017-09-21 02:17] idivad4 commented on #118
That was great, that fixed the problem, no more that 2 post api request per
second

On Sep 20, 2017 9:37 AM, "Mark Smith" <notifications@github.com> wrote:

Hi @idivad4 <https://github.com/idivad4> - we think this error (which
admittedly isn't very helpful) is because you are being rate limited. Could
you put a 2 second delay between the calls and see if the problem resolves
itself?

—
You are rec

[2017-09-21 08:02] #118 closed

[2017-09-25 08:56] judy2k commented on #74
Closing due to lack of activity.

[2017-09-25 08:56] #74 closed

[2017-09-25 10:21] judy2k commented on #97
@mheap I think you closed this issue on nexmo-java instead of nexmo-php by mistake :)

[2017-09-25 17:06] mheap commented on #97
Whoops! Looks like I did

[2017-10-17 12:33] tommorris opened #124 "Add support for Media API"

[2017-10-19 13:50] #71 closed

[2017-11-02 10:17] CyberWarriorZ opened #128 "More than one file was found with OS independent path 'META-INF/DEPENDENCIES'"
Hello there, recently I have been learning java(developing android applications). And I have decided to use your nexmo api in my new application, but when I inserted 'mavenCentral()' in build.gradle(project) and 'compile 'com.nexmo:client:3.1.0'' in build.gradle(Module) with provided java code, I got this message: Error:Execution failed for task ':app:transformResourcesWithMergeJavaResForDebug'.

[2017-11-02 14:16] ChrisGuzman commented on #128
Hey there! 👋

Glad to hear that you're using our API. I think I've seen that error before in other projects I've worked on. Have you tried any of the solutions in these stack overflow posts?
- https://stackoverflow.com/questions/44342455/more-than-one-file-was-found-with-os-independent-path-meta-inf-license
- https://stackoverflow.com/questions/46956341/on-gradle3-0-0-more-than-one-file-was-found-

[2017-11-02 18:33] CyberWarriorZ commented on #128
I have fixed that I suppose, I don't have the same error anymore, thank you for that Chris. :)
But now I'm getting runtime exception:

11-02 19:26:14.658 21020-21020/? E/AndroidRuntime: FATAL EXCEPTION: main
                                                   Process: com.nexmodemo, PID: 21020
                                                   java.lang.RuntimeException: Unable to instantiate activ

[2017-11-02 21:25] ChrisGuzman commented on #128
Did you add `MainActivity` to your `AndroidManifest.xml`?

Can I ask how you plan to use the nexmo-java library in your Android app? Most developers use the nexmo-java for their server side projects

[2017-11-02 21:52] CyberWarriorZ commented on #128
Yeah, MainActivity is automatically added in AndroidManifest by Android Studio. Well I wanted to make a job easier, to make few inputs for messaging like editText for: To, From, Message and one button to send the message, nothing special for personal use.

[2017-11-02 21:55] CyberWarriorZ commented on #128
If you have some sample project you can send me to check it out? Sorry for bothering you, but I'm pretty stubborn to make it work. New to the programming world, you know how it's like :)

[2017-11-06 19:06] CyberWarriorZ opened #129 "java.lang.ClassNotFoundException"
I'm trying to make an android application which will implement nexmo API in order to use the nexmo service from my android phone. But I'm getting ClassNotFoundException, and I don't know what is the problem exactly?

Here is my error log:

AND here is my Main Activity:

[code]

[2017-11-07 14:36] nazarrrk0 opened #130 "No field DEF_CONTENT_CHARSET of type Ljava/nio/charset/Charset;"
I get this error when using code from your documentation.

AuthMethod auth = new TokenAuthMethod(API_KEY, API_SECRET);
NexmoClient client = new NexmoClient(auth);
VerifyResult ongoingVerify = client.getVerifyClient().verify(TO_NUMBER, "NEXMO");

When this code is executed i get this error :
No field DEF_CONTENT_CHARSET of type Ljava/nio/charset/Charset;

Full error log:

java.lang.NoSuchFieldError

[2017-11-07 14:46] ChrisGuzman commented on #129
Hey there.

I tried to make a small Android app with our library over the weekend and ran into a lot of the same issues. The issues stems from the fact that this library isn't really made for Android apps. It hasn't been optimized for that use case. If you'd like to use the java library I suggest checking out our quickstarts for the java library: https://github.com/nexmo-community/nexmo-java-quick

[2017-11-07 16:00] judy2k commented on #130
Hi @nazarrrk0, I'm afraid we don't currently support Android, as distributing your Nexmo key and secret in in the app is a security risk. You need to build a server for this, and have your Android app call that.

[2017-11-07 17:09] #130 closed

[2017-11-07 17:15] judy2k commented on #128
Hi @CyberWarriorZ - I think @ChrisGuzman has linked to some tutorials in your other issue.

The problems you're seeing are because the Nexmo client library is designed to be run on a server, not on an Android device. It's not something we had ever specifically tested, which is why you're having issues.

I totally understand what it's like to get started! If you want to get started with the Nexmo A

[2017-11-07 17:23] judy2k commented on #112
Hi @jfei - I'm sorry I only just saw this issue - did you find a solution?

[2017-11-07 21:29] CyberWarriorZ commented on #129
@ChrisGuzman
Chris thank you for your time, I really appreciate all your answers. I will check all the other examples on the website. Cheers!

[2017-11-07 21:30] CyberWarriorZ commented on #128
@judy2k
Yes I understand what you are trying to say. Too bad that library is not designed for android applications, but who knows maybe in the future it will be. Thank you.

[2017-11-09 13:57] #128 closed

[2017-11-09 13:57] #129 closed

[2017-11-10 10:04] PurpleStarCB commented on #112
@judy2k how to remove [TTC] in sms message ?

[2017-11-29 06:21] JasonCocomo opened #131 "com.nexmo-client,maven config is not working."
I configured it in maven like this:

[code]

but, it is not working.

[2017-11-29 12:59] judy2k commented on #131
Hi @JasonCocomo - you haven't given me much to work with!

I've just tested this on my own machine, with the following (complete) Maven file, and it works.

[code]

If this doesn't work for you, please could you comment, with a complete `pom.xml` to reproduce the problem, and the version number printed when you run `mvn --version`

[2017-11-30 00:43] JasonCocomo commented on #131
Thanks a lot, @judy2k for replying.

It was odd. I tried a whole day yesterday but i didn't work, but now it works fine. May be it just a network problem or else.

PS:  Apache Maven 3.3.9

[2017-12-01 15:07] judy2k commented on #131
OK. Thanks for letting me know @JasonCocomo. Closing.

[2017-12-01 15:07] #131 closed

[2017-12-04 08:39] judy2k commented on #112
@jfei @PurpleStarCB Hi. This isn't an issue with the nexmo-java library, it's a feature of the Nexmo service. [TTC] is the signature added by tata-direct for messages we send towards China networks.

To discuss having this removed from your SMS messages, please contact our [support team](https://help.nexmo.com/hc/en-us)

[2017-12-04 08:39] #112 closed

[2017-12-04 08:41] #78 closed

[2017-12-04 08:41] #79 closed

[2017-12-04 08:41] #80 closed

[2017-12-04 08:41] #81 closed

[2017-12-04 08:41] #82 closed

[2017-12-04 08:41] #83 closed

[2017-12-04 08:41] #84 closed

[2017-12-04 08:41] #85 closed

[2017-12-04 08:41] #86 closed

[2017-12-04 08:41] #89 closed

[2017-12-04 08:41] #90 closed

[2017-12-04 08:41] #91 closed

[2017-12-04 08:41] #92 closed

[2017-12-04 08:41] #93 closed

[2017-12-04 08:41] #94 closed

[2017-12-04 08:41] #95 closed

[2017-12-04 08:41] #96 closed

[2017-12-04 08:41] #97 closed

[2017-12-04 08:41] #98 closed

[2017-12-04 08:41] #99 closed

[2017-12-04 08:41] #100 closed

[2017-12-04 08:41] #102 closed

[2017-12-04 08:41] #103 closed

[2017-12-04 08:41] #106 closed

[2017-12-21 14:48] peterjurkovic opened #134 "Add toString method for an easier debugging"
Would be nice to have `toString()` methods across the lib

[2017-12-22 13:32] peterjurkovic opened #135 "Unify exceptions handling"
Hi there, would be good to have exception handling consistent.

The current implementation e.g. for verify looks like this
[code]
I would suggest create one e.g. `NexmoException`

[code]

`NexmoClientException` - is a client error (bad credentials, not enough credit , ...)
`NexmoServerException` - is a server error (verify down? or so - is possible to recover if such an error occur - maybe re-try

[2017-12-22 13:37] peterjurkovic opened #136 "Add possibility to set a request and connection timeout"
Hi there would be really nice to have a possibility to set a connection and request timeouts values. Not sure whats are the default ones?

[2018-01-07 00:13] nicolagiacchetta opened #137 "NullPointerException thrown by the ModifyCallResponse.fromJson when input is null"
As shown in the following stack trace, a NullPointerException is thrown by the fromJson method of the ModifyCallResponse class when the input String has a null value.

`java.lang.NullPointerException: null
	at com.fasterxml.jackson.core.JsonFactory.createParser(JsonFactory.java:889) ~[jackson-core-2.9.2.jar:2.9.2]
	at com.fasterxml.jackson.databind.ObjectMapper.readValue(ObjectMapper.java:2992) ~[

[2018-01-11 07:07] sheikhrashid opened #138 "INTERNATL_ERR in China and Taiwan"
Hi,

We are in a big trouble. We are using **Verify API** and facing issues in **China** and **Taiwan**. We are landing on **OnError callback** with **Error (INTERNATL_ERR)**, when we Send the code.

The strange thing is that, when we type the same number sitting in Pakistan, all works well. But the same numbers are causing problem in other countries.

Can you please let us know, what are the reas

[2018-01-11 08:23] leggetter commented on #138
Hi @sheikhrashid. This is something that should be handled by the support team. Please provide this info to support@nexmo.com.

[2018-01-11 08:23] #138 closed

[2018-01-11 09:04] sheikhrashid commented on #138
Okay

On 11 Jan 2018 1:23 pm, "Phil Leggetter" <notifications@github.com> wrote:

[2018-01-11 09:50] judy2k commented on #68
This was released in v2.1.0

[2018-01-11 09:50] #68 closed

[2018-01-11 10:02] judy2k commented on #136
This should be possible by configuring an `HttpClient` and passing to the `NexmoClient` constructor. But I'd definitely like to look into this more.

[2018-01-11 10:05] judy2k commented on #135
I'm aware of the need to unify the exception handling, but it was one of those things that only really emerged while we were doing development.

The NexmoResponseParseException *shouldn't* happen in production, which is why it's a RuntimeException - the client lib should successfully parse all responses. The fact that it does is a bug (and there are probably a few of these). I plan to identify all

[2018-01-11 10:07] judy2k commented on #134
This is definitely something we need to get better at.

[2018-01-24 18:36] cr0wst commented on #134
I'm preferential to `ReflectionToStringBuilder.toString`.  I know reflection can add a bit of overhead, but ideally `toString` is only being used for debugging output.

I also like json reflection using either Gson or Jackson.  The downside with Jackson is you have to catch the exception:
[code]

[2018-02-08 13:38] ihunzai-dev opened #143 "404 Not Found on all api calls"
I am getting 404 response on all API calls for the current in-progress voice call on local machine however it works fine on azure instance located in US region.

The number I purchased is US-Based, and my local machine is in Asia.  The issue is much like the one mentioned in this [post](https://help.nexmo.com/hc/en-us/articles/115015969628-Why-do-I-get-a-404-when-trying-to-change-an-active-convers

[2018-02-09 15:33] cr0wst commented on #143
It looks like this functionality is going to be provided with #77 as it also resolves #58.

@judy2k offered up a workaround on https://stackoverflow.com/questions/48685775/404-error-in-all-nexmo-api-calls in regards to extending the `ModifyCallMethod` class's `makeRequest` method to provide a new base url.

[2018-02-20 15:55] newuni opened #144 "com.nexmo.client.NexmoResponseParseException: No valid response found"
Situation

When invoking check method an exception is thrown in VerifyEndpoint.parseVerifyResponse if the number is not a valid number, I think a managed error should be returned as the raw content of the API call returns.

Code

[code]

Stacktrace:

`com.nexmo.client.NexmoResponseParseException: No valid response found [ <?xml version="1.0" encoding="UTF-8"?> <response> <status>3</status> <error_

[2018-02-20 16:33] judy2k commented on #144
Hi @newuni - you're absolutely correct, this should raise an exception, but not a `NexmoResponseParseException`.

I'll schedule this bug to be fixed. Thanks for the bug report!

[2018-02-22 10:58] newuni opened #145 "Feature Request: IPv6 support for VerifyClient.check"
Situation

Calling VerifyClient.check method passing an IPV6 for parameter ipAddress generates an error: Invalid value for param: ip_address when using IPv6 format

Request

Support IPv6 address

[2018-02-24 17:34] blaluc opened #146 "Add the "level" attribute to the talk objects"
Reading the documentation it seems that the level attribute (see below) is missing in the TalkNcco object and in the VoiceClient.startTalk methods.

[2018-02-24 22:35] blaluc opened #147 "add the HUMAN enum to CallStatus"

[2018-02-26 01:56] andidev commented on #144
Same here

[2018-02-27 13:39] judy2k commented on #137
Resolved in v3.3.0

[2018-02-27 13:39] #137 closed

[2018-02-27 14:04] cr0wst opened #150 "Replace `String` with `VoiceName` on `TalkNcco`"
Looking around it seems that this is the last one to use `String voiceName` instead of `VoiceName voiceName`.

[2018-03-01 23:43] andidev opened #151 "The VerifyClient check method should also return verified phone number"
It should be possible to get the verified phone number from the VerifyClients check method result. This would make phone verification implementations easier for phone verification REST API's like this:

http://myapp.com/verify-phone-numner?phoneNumber=0702223313
[code]

http://myapp.com/check-verification-code?requestId=&code=1234
[code]

[2018-03-13 09:04] SdlasHeras commented on #144
same for me, when this will be fixed?

[2018-04-01 15:11] pblanchardie opened #154 "call HttpClientBuilder.useSystemProperties() before build() to use JVM configuration"
For simpler proxy configuration (amongst other), it sohuld be nice to call [HttpClientBuilder.useSystemProperties](http://hc.apache.org/httpcomponents-client-ga/httpclient/apidocs/org/apache/http/impl/client/HttpClientBuilder.html#useSystemProperties()) before build() in HttpWrapper.createHttpClient().

[2018-04-10 03:27] daniel-chan opened #155 "make-phone-calls fail"
public static void test() throws Exception {
        NexmoClient client = new NexmoClient(new JWTAuthMethod(
                "e1e8bf22-c728-44fa-9a9c-4863ca7409ab",
                FileSystems.getDefault().getPath("D:\\private.key")
        ));

        client.getVoiceClient().createCall(new Call(
                "85259259059",
                "447418341645",
                "http://ap2.santo.cc/m

[2018-05-03 22:52] cr0wst commented on #155
Hi @daniel-chan,
I wonder if you might be pulling in an earlier version of `org.apache.httpcomponents:httpclient`.  The `post` method was added to `RequestBuilder` in version 4.4 of this dependency.  Do you have this dependency specified in your `build.gradle` or `pom.xml` already?

[2018-05-04 00:34] cr0wst opened #156 "Investigate removal of 15 character limit of `from` parameter in `Message`"
`Message`'s constructor throws an exception if a `from` field with a length of 15 characters is provided.  This is a limitation that is listed here: https://developer.nexmo.com/messaging/sms/guides/custom-sender-id

However, some of the numbers we allow the purchase of exceed this limit.

Investigate the removal of this limitation.

[2018-05-04 15:04] cr0wst opened #157 "Add Support for JDK 9+"
The JWT process needs `javax.xml.bind:jaxb-api` to build.  This was removed as a standard inclusion from JDK9+.

Users experiencing issues can apply a temporary fix by including it in their dependencies `javax.xml.bind:jaxb-api`.

We can investigate the selective inclusion based on JDK versions.

[2018-05-08 19:45] #156 closed

[2018-05-08 19:45] cr0wst commented on #156
Resolved with #158

[2018-05-08 19:48] #146 closed

[2018-05-08 20:02] cr0wst opened #160 "Investigate Usage of TLS-1.2 Via HttpClient"
Determine if 1.2 is supported via HttpClient without explicitly setting it.

[2018-05-09 15:01] cr0wst opened #161 "Update RecordNcco to Support Split"
Per https://developer.nexmo.com/api/voice/ncco#record the `RecordNcco` should support the `split` option.

[2018-05-15 09:26] Bajranghudda opened #163 "Signature supplied did not pass verification"
I am using Android SDK for 2FA verification, recently (a month ago) it was working fine but suddenly it stopped working for me.

Actually I am using sdk as a module dependency and I checked the version is
 versionCode 6
 versionName "4.0.0"

I don't know it's a latest version.

And whenever I try to veryfiy client -
application.getVerifyClient().getUserStatus(prefix, phoneNumber, new SearchListene

[2018-05-15 09:42] archanapareta commented on #163
I am also in same boat still no solution.

[2018-05-15 14:35] cr0wst commented on #163
Hello!

Please use https://github.com/Nexmo/verify-android-sdk/issues/22 for tracking the outcome of this issue as it is related to our Android SDK and not our Java library.

Thanks!

[2018-05-15 14:35] #163 closed

[2018-05-21 11:54] mapuo opened #164 "ConversationNcco.musicOnHoldUrl should be array"
The `musicOnHoldUrl` property of class `com.nexmo.client.voice.ncco.ConversationNcco` should be array of `String`s as the Voice API expects an array of URLs.

[2018-05-21 11:56] mapuo opened #165 "CallInfo should have reason property"
The `event_url` receives `CallInfo` class but the Voice API can return an error and that error is in the `reason` field. To be able to retrieve the error, please add the `reason` property in the `com.nexmo.client.voice.CallInfo` class.

[2018-05-21 14:30] cr0wst commented on #165
Hi @mapuo,

I'm not seeing this field in our api specifications.  Is there some sort of error response that you're able to provide us with so we can look into this further?

[2018-05-23 14:14] cr0wst commented on #165
Hi @mapuo
I don't believe we provide any data objects to help with unmarshalling the JSON that gets sent to the `event_url`.  The `CallInfo` object isn't intended for that purpose.

[2018-05-23 15:37] cr0wst opened #166 "Clean NCCO Objects"
Some NCCO objects are using arrays or mimicking arrays during json serialization.  These should be cleaned up to provide for a more consistent experience.

[2018-05-25 14:22] cr0wst opened #169 "`ControlEndpoint` methods in `VerifyClient` should return `ControlResponse`"
Currently `ControlEndpoint` methods in `VerifyClient` return void.  However, `ControlEndpoint` builds a `ControlResponse` object that should be returned instead.

[code]

[2018-05-25 14:26] cr0wst commented on #169
This will be semi-resolved with #168 as changing the return type from void won't break backwards compatibility.  However, these methods should be cleaned up in the next major version release.

[2018-05-25 16:48] mapuo commented on #165
So we don't know what data will come in the `event_url`?

[2018-05-25 17:17] cr0wst commented on #165
Hi @mapuo

You can see the information that gets sent to the supplied `eventUrl` pages:
- Voice API Reference: https://developer.nexmo.com/api/voice#webhook
- Guide: Handling Call Status: https://developer.nexmo.com/voice/voice-api/guides/handle-call-status

Some of those fields are going to be the same ones found in the `CallInfo` object and you might be able to unmarshall, however I don't believ

[2018-05-26 23:02] #165 closed

[2018-05-29 17:03] cr0wst commented on #161
Resolved with #170

[2018-06-01 16:33] cr0wst commented on #151
Hi @andidev

The response that we get back from the API does not contain the phone number.  In order to provide you with this information we would need the API, itself, to be updated.  I will pass this along to our engineering team.

As a workaround, you can use the `VerifyClient.search` method with the request id to retrieve the number. It would require an extra call:
[code]

Hope this helps!

[2018-06-01 16:40] cr0wst commented on #145
Hi @newuni

This is coming from a lack of support on our API and isn't something we can change in the client library at this time.  I will pass this along to our engineering team.

[2018-06-27 17:18] ravin-d opened #176 "Deprecated?"
Hi, I'm a college student trying to work around Nexmo API to create something for a school project. I came across something which I could use some help with.

**import com.nexmo.client.verify.VerifyResult;**
My IDE is saying the following is deprecated and I should change it. What should I do in this instance? Is there an alternate class i can import that's an updated version?

[2018-06-27 17:36] cr0wst commented on #176
Hi @ravin-d,

Sorry about this!

It was prematurely deprecated while switching our `VerifyClient` from the XML to the JSON endpoints because it won't be usable in the next major version (4.0.0) and will be replaced with `VerifyResponse`. However, right now it's the only option and is perfectly fine to use.

I have removed the deprecation in the `develop` branch and it will get pulled in with the n

[2018-06-27 17:36] #176 closed

[2018-06-27 19:09] ravin-d commented on #176
Hey @cr0wst ! Thanks so much for the clarification. Cheers.

[2018-07-03 13:24] ravin-d opened #177 "VerifyClient"
How would one go about on using this if the it's a void method? What can I use from this code to allow me to change scenes in my application if the CODE entered is correct?

client.getVerifyClient().check(ongoingVerify.getRequestId(), CODE);

Help would be much appreciates,
Cheers!

[2018-07-03 15:16] cr0wst commented on #177
Hi @ravin-d,

I don't believe the `check` method is a `void` method? It should return a `CheckResult` which has also incorrectly been deprecated and will be un-deprecated in this week's release (3a3786b386b6173b4b64793a3c7ca78dfb9fc45a). As for determining if a verification is successful or not, you can use the `status` property of the `CheckResult`.

Something like:
[code]

[2018-07-03 18:15] ravin-d commented on #177
Ahhh, ok thank you so much!

[2018-07-03 18:15] #177 closed

[2018-07-06 17:42] #87 closed

[2018-07-06 17:42] #88 closed

[2018-07-06 17:42] #145 closed

[2018-07-06 17:42] #151 closed

[2018-07-10 14:50] lcarasco opened #178 "intermittent connection failure"
The exception below is intermittently thrown (Client API v 3.4.1)
Is this likely to be a genuine communications failure which should be monitored for and retried, or is there a possible issue with dead pooled connections?

java.net.SocketException: Connection reset
       at java.net.SocketInputStream.read(SocketInputStream.java:189)
       at java.net.SocketInputStream.read(SocketInputStream.java

[2018-07-10 14:55] cr0wst commented on #178
Hi @lcarasco,

What version of Java are you running?

[2018-07-10 15:02] lcarasco commented on #178
OpenJDK 1.7.0 (with Tomcat 7.0.29)

[2018-07-10 16:33] cr0wst commented on #178
Hi @lcarasco,

We are currently in the process of ending support for TLSv1.0. This process is outlined in the following article: https://www.nexmo.com/blog/2018/06/13/nexmo-protects-customers-by-ending-support-for-legacy-tls-protocols/

As outlined in the blog post:

My assumption is that you received this exception during the timeframe in which TLSv1.0 and TLSv1.1 was disabled. If this is not the

[2018-07-10 20:44] lcarasco commented on #178
Thanks @cr0wst, looks like this was the problem.
I wasn't aware TLSv1.0 support was ending.

[2018-07-10 20:44] #178 closed

[2018-07-13 14:12] ravin-d opened #179 "Cancel verify"
Hello, is there a method to cancel a verify request?

[2018-07-13 16:07] ravin-d commented on #179
Used a cURL request in java to cancel an existing verify request.

[2018-07-13 16:07] #179 closed

[2018-08-07 17:03] sobryan opened #181 "Supported cipher suites"
After the cutover to TLS1.2, we see one cipher suite from nexmo during a handshake:
TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256

A wireshark capture of the handshake shows we have many TLS 1.2 ciphers (68 TLS_* )available in the java installation, this is not one.

Please offer more than one cipher.

The full stack trace is not helpful, other than saying "Unable to make a connection with IBM java"
java.

[2018-08-10 13:48] cr0wst commented on #181
Hi @sobryan

This repository is specifically for our Java Client Library. It looks like this is something that would require a change in our infrastructure/API.  I will reach out to our internal development team and pass along this issue.

Thanks!
Steve

[2018-08-10 13:48] #181 closed

[2018-08-15 18:30] cr0wst opened #184 "Refactor Ncco Interface"
The whole JSON array is a single NCCO based on https://developer.nexmo.com/voice/voice-api/ncco-reference.

Each implementation of `Ncco` would probably be more appropriately named `Action`. Change all implementations to be more clear.

Example: `TalkNcco` becomes `TalkAction`

Introduce an `NccoBuilder` to facilitate the building and chaining of these actions into a single `Ncco`.

[2018-08-31 04:09] dmitryshirkalin opened #186 "NexmoUnexpectedException on calling InsightClient.getAdvancedNumberInsight() for landline"
Nexmo Java client version 3.7.0

The InsightClient.getAdvancedNumberInsight(phoneNumber) method calls fails on some landline numbers, when the server API responses with "valid_number": "inferred_not_valid".

For some landline numbers, for example 15810523625, the API JSON response contain the field "valid_number": "inferred_not_valid".
However the client enum com.nexmo.client.insight.advanced.Adva

[2018-08-31 07:52] cr0wst commented on #186
Hi @dmitryshirkalin,

I completely agree on both points that our enums should not only be updated to support all possible fields but should also include a fallback in case we're unable to deserialize a field.

Thanks for the report, I'll get to work on fixing this!

[2018-09-20 16:16] cr0wst commented on #186
This is resolved with v3.8.0.

[2018-09-20 16:16] #186 closed

[2018-09-25 16:37] cr0wst commented on #147
This was fixed in #191.

Prior to the 3.8.0 release we didn't have objects to handle the deserialization of the json payload sent to the `event_url` in various NCCO actions. Our documentation implies that the only way for a `human` status to occur is through the request sent to the `event_url`. Please feel free to re-open and correct me if I'm wrong.

The `com.nexmo.client.voice.CallStatus` enum w

[2018-09-25 16:37] #147 closed

[2018-10-11 10:50] GuyKh commented on #150
On it

[2018-10-15 08:45] berry120 commented on #154
PR: https://github.com/Nexmo/nexmo-java/pull/207

[2018-10-16 11:58] GuyKh commented on #150
Since my PR is merged, I guess this can be closed

[2018-10-18 21:54] cr0wst commented on #150
Resolved with #197 released 3.9.0.

[2018-10-18 21:54] #150 closed

[2018-10-18 21:55] cr0wst commented on #143
Resolved with #194 released in 3.9.0

[2018-10-18 21:56] cr0wst commented on #58
Resolved with #194 released in 3.9.0

[2018-10-18 21:56] #58 closed

[2018-10-18 21:56] cr0wst commented on #154
Resolved with #207, released with 3.9.0

[2018-10-18 21:56] #154 closed

[2018-10-19 15:34] ferozbaig96 commented on #61
Can I work on this issue?

[2018-10-19 15:36] cr0wst commented on #61
Hi @arpitpandey0209, feel free to submit a PR for this issue. I would recommend starting with the `version-4` branch as this will most likely be a backwards incompatible change and would need to be released as part of the next major version.

[2018-10-24 07:53] Toub opened #212 "[Feature request] support alert API"
It looks like the current version (3.9.0) does not support the [Alert API]( https://developer.nexmo.com/messaging/us-short-codes/guides/alerts) to be able to send application-to-person (A2P) to USA & Canada.

Is there any plan to implement it in the near future?

[2018-10-24 12:50] Soundug commented on #61
Hi @cr0wst I would like to work on this issue. Is it up for grabs?

[2018-10-25 13:12] judy2k commented on #212
Hello @toub.

It's not currently in our short term plans to implement this - but given that you've requested it, we may be able to do something. Would it be possible to get a quick summary of your use-case?

[2018-10-26 05:31] Toub commented on #212
I am currently using nexmo-java client to send various A2M messages to my customers, especially 2FA messages and a few alerts for some of my business customers.

The messages are currently not delivered to Canada because I need to buy a long virtual number. But it is probably not enough, as my message are not bi-directional, so carriers will probably block them is I don't use a short virtual numbe

[2018-10-30 12:06] vinokanth92 commented on #143
Hey I am trying to resolve this issue by configuring the baseUrl. According this [article ](https://help.nexmo.com/hc/en-us/articles/115015969628-Why-do-I-get-a-404-when-trying-to-change-an-active-conversation-) the 2 possible API base ULIs are
1. https://api-us-1.nexmo.com
2. https://api-sg-1.nexmo.com

I configured them in the following way:
[code]
But I still do get 404 NOT FOUND for both the l

[2018-10-30 13:44] judy2k opened #216 "Multi-channel split recording feature needs added to NCCO actions."
We have a new multi-channel split recording feature, described here: "https://developer.nexmo.com/voice/voice-api/ncco-reference#record" and it needs to be added to `nexmo-java`'s NCCO support.

[2018-10-30 13:48] judy2k commented on #216
Actual details described in Nexmo's internal JIRA: https://nexmoinc.atlassian.net/browse/DEVX-249

[2018-10-30 16:45] cr0wst commented on #143
Hi @vinokanth92,

I think you found a bug that I didn't account for when implementing the base uri rewriting logic. I'll try to get a patch out today to fix this.

The full URI that gets used for some of our API endpoints is `https://api.nexmo.com/v1/...` and I was stripping out the `v1` if you weren't electing to use the default uri. Sorry about that!

Try and see if using `https://api-sg-1.nexmo

[2018-10-31 14:56] vinokanth92 commented on #143
Hey Steve thanks for your response. There is no need to apologise. You guys
are doing a great job. As you suggested adding v1 works like a charm.
Thanks a lot. Cheers.

On Wed., 31 Oct. 2018, 03:49 Steve Crow <notifications@github.com wrote:

[2018-11-02 15:30] #216 closed

[2018-11-02 16:07] cr0wst commented on #143
Resolved in #217 released in `3.10.0`. The path for versioned APIs will always be `/v#/...` now instead of trying to guess when it would be appropriate.

I started the release about 20 minutes ago, it can take a bit before it hits the central repositories.

[2018-11-02 16:07] #143 closed

[2018-12-31 05:41] fguerzoni opened #227 "Voice api, error handling special characters in release 4.0.1"
Hi,
using nexmo-java-4.0.1,
I noticed that when injecting TTS voice with special characters (e.g 'è') inside a call I always got BAD REQUEST reply from Nexmo endpoint.

Nexmo support pointed out that when putting on an active conversation the string:
"Questo è un test di chiamata"
on server side they got
{"text":"Questo � un test di chiamata","loop":1,"voice_name":"Giorgio"}.

The issue is that 'è

[2019-01-03 14:04] judy2k commented on #101
I think this may have been closed by mistake 😬

[2019-01-03 14:09] judy2k opened #228 "Provide JWT generation with arbitrary parameters."
I'm not sure the best way to do this without re-implementing the interface of our underlying JWT library. Perhaps the best approach would be to expose the underlying library, pre-configured with the auth params used to initialize the NexmoClient object.

Happy to discuss this!

[2019-01-22 09:42] judy2k opened #229 "Support signature generation using algorithms other than MD5-Hash"
It looks like RequestSigning only supports MD5-Hash. I think this is an oversight, and the HMAC signing methods should be supported as well.

[2019-02-02 12:13] vinokanth92 opened #230 "VoiceClient createCall API does not accept NCCO"
When creating a call with `VoiceClient.createCall()`, the `Call` object does not accept a `NCCO`. But according to the documents, we can send a `NCCO` instead of `answered_url`. How can I resolve this issue?

Nexmo doc ref: https://developer.nexmo.com/api/voice

[2019-02-03 08:42] cr0wst commented on #230
Hi @vinokanth92,

This is a really new feature which hasn't been implemented as part of the Java client yet.

Tagging @judy2k for client library prioritization.

[2019-02-03 08:44] #155 closed

[2019-02-03 08:44] #157 closed

[2019-02-03 08:44] #166 closed

[2019-02-03 08:44] #169 closed

[2019-02-03 08:44] #184 closed

[2019-03-02 01:17] vinokanth92 commented on #143
@cr0wst Hello. I am currently using library version 4.01. Previously was using version 3.9.x and your solution of appending "v1" was working. But now when upgraded my library version this fix no more works. I get 404 for using both
- https://api-us-1.nexmo.com/v1
- https://api-sg-1.nexmo.com/v2

How can I fix this?

[2019-03-15 19:24] #230 closed

[2019-03-20 20:49] #227 closed

[2019-04-02 09:15] sharif-malik opened #237 "Message product's spelling is wrong for Redact API"
After talking to support team, I got to know that  **message** should **messages** in the RedactRequest.Product enum.

[2019-04-02 09:16] sharif-malik commented on #237
https://github.com/Nexmo/nexmo-java/blob/master/src/main/java/com/nexmo/client/redact/RedactRequest.java#L90

[2019-04-02 09:18] sharif-malik commented on #237
Here is the documentation from NEXMO(https://developer.nexmo.com/api/redact), which is expecting **messages**

[2019-04-02 09:40] sharif-malik commented on #237
#238 Here is the PR to fix this issue

[2019-04-02 10:26] sharif-malik commented on #237
@cr0wst Please review this Issue and followed by PR #238

[2019-04-02 13:44] cr0wst commented on #61
Resolved in #225

[2019-04-02 13:44] #61 closed

[2019-04-03 13:08] sharif-malik commented on #237
Backward compatibility, actually failing my tests when I do integration tests.

[2019-04-03 13:09] sharif-malik commented on #237
@cr0wst , it should be `message` instead of `messages`

[2019-04-03 13:10] sharif-malik commented on #237
Shall I create another PR for the same. Because currently my tests is picking from text so it always pick `MESSAGE` instead of `MESSAGES`

[2019-04-03 13:28] sharif-malik commented on #237
@cr0wst Here is the another PR to fix the value of deprecated product name value

[2019-04-03 13:28] sharif-malik commented on #237
Because it fails everytime to pick right product enum

[2019-04-03 13:49] cr0wst commented on #237
We only use this object for serialization, it's not intended to be used for deserialization at this time.

[2019-04-03 14:47] sharif-malik commented on #237
Yeah, I understand your point. Currently having both enum's value as same is not resilient, I am not able to do integration tests in my project because of deserialisation.

This #240  PR, it will work for all. Isn't it?

[2019-04-04 13:59] cr0wst commented on #237
Added explanation in #240.

[2019-04-04 13:59] #237 closed

[2019-04-10 10:56] WongChoBun opened #242 "No field DEF_CONTENT_CHARSET"
java.lang.NoSuchFieldError: No field DEF_CONTENT_CHARSET of type Ljava/nio/charset/Charset; in class Lorg/apache/http/protocol/HTTP; or its superclasses (declaration of 'org.apache.http.protocol.HTTP' appears in /system/framework/org.apache.http.legacy.boot.jar)

[2019-04-12 12:31] vinokanth92 opened #243 "Is it possible to check if an audio is being streamed into the call?"
I want stream audio into an active call. But I do not want to stream while an audio is being currently streamed already. This is because when a new audio is stream while another streaming is in progress, the current streaming gets interrupted and the new streaming starts.

I want to effectively know if there is streaming going on, so that I can schedule my streams accordingly.

I am looking for so

[2019-04-12 16:15] cr0wst commented on #243
Hi @vinokanth92. With the current capabilities of the Voice API available in the Java client it isn't possible to tell if audio is currently being streamed to the call.

However, we have a [Conversation API](https://developer.nexmo.com/conversation/overview) which is currently in Developer Preview that gives quite a bit more granularity when events occur. Namely, you can receive events when the au

[2019-05-20 22:56] derickson82 opened #247 "Upgrade com.auth0 java-jwt dependency"
The `java-jwt` `v2.x` library from Auth0 is distributed as a shaded jar. One of the dependencies packaged with it is `jackson-databind` that is a very old version with known security vulnerabilities. There are `v3.x` releases that are using more recent versions of jackson.

I could see one or more of the following actions being taken to address this issue:

* Upgrade to the `v3.x` line (probably t

[2019-05-21 16:23] cr0wst commented on #247
I took a look at this for a bit today and I noticed that once they went to v3.x they dropped the shaded jar. Right now, our JWT implementation is rather limited and it's something that I have plans to improve on.

Unfortunately, I can't update the dependency to `v3.x` without bumping the major version as per [Semver](https://semver.org/). However, I have a few comments on this being flagged as a v

[2019-05-31 05:16] gargacharya opened #249 "java.lang.NoSuchFieldError: No static field INSTANCE of type Lorg/apache/http/conn/ssl/AllowAllHostnameVerifier"
I am getting this issue while sending the SMS from my application using nexmo lib.

java.lang.NoSuchFieldError: No static field INSTANCE of type Lorg/apache/http/conn/ssl/AllowAllHostnameVerifier; in class Lorg/apache/http/conn/ssl/AllowAllHostnameVerifier; or its superclasses (declaration of 'org.apache.http.conn.ssl.AllowAllHostnameVerifier' appears in /system/framework/framework.jar!classes3.de

[2019-07-10 13:49] jojupiter opened #256 "nexmo does not work on Android"
the API  << compile 'com.nexmo:client:4.+' >>  does not work on Android Studio gradle 4.4

[2019-07-10 15:07] cr0wst commented on #256
Hi @jojupiter

I'm not sure if you're using Android Studio to develop a non-android application and you're having issues with the dependency system, or if you're specifically trying to use the library in an Android application.

This library is intended to be used in server-side applications as it requires things like API secrets and private keys which shouldn't be stored inside of the application

[2019-07-15 11:24] #256 closed

[2019-07-15 11:24] #249 closed

[2019-07-15 11:24] #243 closed

[2019-07-15 11:25] cr0wst commented on #247
The dependency on Auth0's JWT library has been removed in #252 which will be released with Version 5.

[2019-07-15 11:25] #247 closed

[2019-07-15 11:26] #242 closed

[2019-07-15 11:27] cr0wst commented on #42
This is now handled in https://github.com/nexmo/nexmo-jwt-jdk which will be the default JWT provider for the server SDK. Users wishing to customize and generate JWTs should bring this library in instead.

[2019-07-15 11:27] #42 closed

[2019-07-15 11:30] cr0wst commented on #135
Exceptions are being revamped in Version 5. Some of the exceptions are getting renamed. You can see the changes in #255 in which IOException is now being replaced with a `NexmoResponseParseException` as most of the time an `IOException` comes from not being able to deserialize the response (or parse).

Additionally, `NexmoClientException` has been converted to a runtime exception.

[2019-07-15 11:30] #135 closed

[2019-08-07 04:44] hc-codersatlas opened #261 "Kotlin dependency"
The new 5.0.0 release has dependencies on Kotlin. Why is this required for a Java library?

[2019-08-07 17:06] cr0wst commented on #261
This is a transitive dependency that comes from the JWT library which replaced the Auth0 library we were using.

Something I did notice, which I will be addressing with v5.1.0 is that the JWT library is also causing us to bring in some other unintended transitive dependencies like Mockito.

Here's a little more detailed information if you're curious how this might impact the size.

I did a bit of

[2019-08-07 23:07] hc-codersatlas commented on #261
Thanks for the evaluation but size isn't the only issue. Classes loaded, memory etc is too. Also frameworks like Spring scan the classpath and detects Kotlin. It will try to load auto configurations based on it etc. This didn't happen with 4.4 and below.

[2019-08-20 18:59] christiffer opened #263 "CallStatus does not support `unanswered`"
[VAPI Webhook Documentation](https://developer.nexmo.com/voice/voice-api/webhook-reference#unanswered) lists `unanswered` as a valid status. This is not currently supported by this library so any unanswered call gets returned as `unknown`.

[2019-08-20 19:09] #263 closed

[2019-08-20 19:09] christiffer commented on #263
I realised this made no sense and fixed it on my end..

[2019-08-22 16:07] tomimoolan opened #264 "Exception in thread "main" com.nexmo.client.NexmoResponseParseException: Unable to parse response."
I am getting the following error
Exception in thread "main" com.nexmo.client.NexmoResponseParseException: Unable to parse response.
	at com.nexmo.client.AbstractMethod.execute(AbstractMethod.java:107)
	at com.nexmo.client.sms.SmsClient.submitMessage(SmsClient.java:79)
	at gm.nexmo.SendMessage.main(SendMessage.java:23)
Caused by: org.apache.http.conn.HttpHostConnectException: Connect to rest.nexmo.

[2019-09-23 17:05] christiffer opened #269 "Support reactive/non-blocking requests"
Currently the Nexmo Library is backed by a [HttpClient using a PoolingHttpClientConnectionManager](https://github.com/Nexmo/nexmo-java/blob/9db41456d0ea7f47bc45953498aca5c146775d18/src/main/java/com/nexmo/client/HttpWrapper.java#L88) which is a blocking client.

Whilst it would represent a lot of work it would be good to get non-blocking implementation (eg usin  [RxJava](https://github.com/Reactiv

[2019-10-10 10:12] SevrainChea opened #270 "Can not generate JWT ??"
Hi,

I am using the java client for Voice API
I am trying to make a simple call to a phone number using my nexmo Number and I get this error from JwtGenerator :

java.lang.NoSuchMethodError: io.jsonwebtoken.JwtBuilder.addClaims(Ljava/util/Map;)Lio/jsonwebtoken/JwtBuilder;
	at com.nexmo.jwt.JwtGenerator.generate(JwtGenerator.kt:44)
	at com.nexmo.jwt.Jwt.generate(Jwt.kt:44)
	at com.nexmo.jwt.Jwt.gen

[2019-10-10 12:57] SevrainChea commented on #264
Hello same error here, some help would be good

[2019-10-14 20:06] slorello89 commented on #270
@SevrainChea Looking at the community slack it looks like you were able to resolve this issue by upgrading your JWT dependency from 0.6.0 -> 0.10.5 api+impl+jackson so I'm going to close out this issue.

[2019-10-14 20:06] #270 closed

[2019-11-28 09:03] Fleta opened #274 "Status code 400 when calling NexmoClient.getVoiceClient().ModifyCall()"
1. What I did
- NexmoClient.getVoiceClient().modifyCall(uuid, MidfyCallAction.HANGUP)
- checked https://developer.nexmo.com/api/voice#updateCall

2. Result (Stacktrace except which I implemented)
[code]

3. How to reproduce
Call `NexmoClient.getVoiceClient().modifyCall(String uuid, ModifyCallAction action)`

Thanks for your efforts.

[2019-12-12 10:57] anmol5varma opened #275 "No option for selecting workflow 6 i.e. only SMS from VerifyRequest.Workflow"
https://developer.nexmo.com/verify/guides/workflows-and-events
Workflow 6 is absent from `VerifyRequest.Workflow` Class. How do I implement that using nexmo java sdk?

[2019-12-18 19:37] lornajane commented on #275
Thanks for reaching out to us about this, we've just released a new version of the SDK that adds support for these workflows. Please can you try installing version 5.2.1 and let us know how you get on?

[2019-12-23 12:48] lornajane commented on #275
Closing, but re-open if anything more is needed here

[2019-12-23 12:48] #275 closed

[2020-02-17 10:25] sharmasha2nk opened #277 "POJO for NotifyEvent similar to RecordEvent"

[2020-02-20 02:51] anmol5varma commented on #136
`    HttpClient client = httpClientConfig.HttpClientObject();

    HttpConfig newConfig = HttpConfig.builder()
      .apiBaseUri(axwayUrl) //Set Your Base API Url here
      .restBaseUri(axwayUrl) //Set your Base Rest Url here
      .build();`

My HttpClient looks like this and .getParams is depricated. How to you propose to make this change in the HttpConfig? @judy2k

[2020-03-16 15:53] dragonmantank commented on #264
Hello!

Sorry for the long wait on this, but in case you haven't reached out to support or our community Slack channel I wanted to hopefully provide some help.

Can you let us know what version of Java and the SDK that you are currently running?

The error you are seeing is from when the SDK cannot parse the result from the API call. Normally this means that somewhere along the line there is an is

[2020-03-24 15:43] Amiko commented on #264
Same issue here. Exception rises periodically. Using java 8.
Any proper feedback would be good.

[2020-03-31 18:50] abdelkawi opened #282 "java.lang.NoSuchFieldError: No field DEF_CONTENT_CHARSET of type Ljava/nio/charset/Charset; in class Lorg/apache/http/protocol/HTTP; or its superclasses (declaration of 'org.apache.http.protocol.HTTP' appears in /system/framework/org.apache.http.legacy.boot.jar)"
i got this error

Error log
at org.apache.http.client.methods.RequestBuilder.build(RequestBuilder.java:464)
        at com.nexmo.client.AbstractMethod.execute(AbstractMethod.java:79)
        at com.nexmo.client.verify.VerifyEndpoint.verify(VerifyEndpoint.java:53)
        at com.nexmo.client.verify.VerifyEndpoint.verify(VerifyEndpoint.java:49)
        at com.nexmo.client.verify.VerifyClient.verify(

[2020-03-31 19:03] slorello89 commented on #282
Hi @abdelkawi

I'm afraid we don't support running the Java server SDK on android as you would have to distribute your Nexmo API key and secret in order to run it (which is a security risk). This appears to be what's causing the conflict between the HttpClient's which is the root cause of this exception. If you'd like to use the Nexmo Java server SDK you will need to use it Server Side.

[2020-04-22 07:59] SteveNewson commented on #261
I'd be inclined to agree with this. Looking at the code in the Nexmo JWT library, it amounts to five source files which could be trivially written in Java. You'd then eliminate the dependency on kotlin standard libraries altogether.

[2020-06-08 04:22] sharmasha2nk opened #284 "VoiceName enum to have other fields like language, gender, SSML support"
VoiceName enum to have other fields as per [documentation](https://developer.nexmo.com/voice/voice-api/guides/text-to-speech#voice-names).
And supporting methods like `List<VoiceName> getVoiceNameByLanguage(String lang)`.

[2020-06-08 10:18] sharmasha2nk commented on #284
Pull request added #285

[2020-06-11 02:22] sharmasha2nk commented on #284
Hi @yallen011. There are multiple scenarios this would help.
1.  We are working on AI-driven conversational IVR, which supports multiple languages. If we have this mapping in code, we can use it to provide voice name options to the client to choose from based on language and gender.
2. We can also use it for randomly choosing the voice based on the language at runtime for a conversation session. L

[2020-06-17 15:33] yallen011 opened #288 "Add ASR webhook for the Voice API"
Add capability to handle Automatic Speech Recognition for voice inputs on a phone call. This will allow for using voice to specify an option from the menu given to you through the automated voice system.

[2020-06-17 17:34] sasagonz commented on #264
We are having similar issue. Sometimes we get this error:

Caused by: com.nexmo.client.NexmoResponseParseException: Unable to parse response.#
	at com.nexmo.client.AbstractMethod.execute(AbstractMethod.java:107)#
	at com.nexmo.client.sms.SmsClient.submitMessage(SmsClient.java:79)#
	at xxxx.NexmoSmsProvider.sendSMS(NexmoSmsProvider.java:46)#
	...
#Caused by: java.net.SocketException: Connection res

[2020-07-01 19:14] yallen011 commented on #284
@sharmasha2nk I apologize for the late response. I thought I had replied but I think it slipped through the cracks. Also, I would like to thank you very much for taking the time to explain your scenarios, Vonage team values your opinion. I have done some research around this in order to provide you with a  proper response, and based on earlier discussions around this topic, it was determined that

[2020-07-02 11:55] a95417079 opened #290 "if the client is thread safe?"
if i can init the client only one time?
`static NexmoClient client = new NexmoClient.Builder().build();`

[2020-07-07 21:42] yallen011 commented on #290
Hi @a95417079 can you give a little bit more details about your actual question or concern.

[2020-07-16 16:51] WTNameIsOk opened #292 "Is the 3.1.0 JAR package no longer supported?"
My project is not working.
The jar version is 3.1.0

[2020-07-16 16:56] WTNameIsOk opened #291 "Is the 3.1.0 JAR package no longer supported?"
My project is not working.
The jar version is 3.1.0

[2020-07-17 01:38] WTNameIsOk commented on #292
Could you help me determine the exact time to stop support?
My project went wrong yesterday. It was normal until then.I need an exact cause to determine the cause of the problem.

[2020-07-17 02:06] dragonmantank commented on #292
We generally only support the latest major version of the SDKs. For Java, this means active support for the v5.x branch, of which we are currently on v5.2.1. From the release notes, v3.1.0 is from all the way back in late 2017. That means we won't be able to issue a bug fix specifically for the v3.x releases, any new bug fixes would go into the next v5.x release.

That does not necessarily mean th

[2020-07-26 08:13] vinokanth92 commented on #264
Is there a update on this? It happening frequently when terminating call.

[2020-07-27 19:59] #284 closed

[2020-07-27 20:05] yallen011 commented on #291
Duplicate of #292

[2020-07-27 20:05] #291 closed

[2020-07-27 20:18] yallen011 commented on #288
This issue is blocked because ASR is still in beta.

[2020-07-29 12:40] sharmasha2nk opened #294 "ModifyCallMethod and SendDtmfMethod not using HttpConfig for base URLs"
Not able to use alternate base URLs for Modify call and send DTMF methods. Need to update the base URLs to handle [this known issue](https://help.nexmo.com/hc/en-us/articles/115015969628-Why-do-I-get-a-404-when-trying-to-change-an-active-conversation-?source=search).

DEFAULT_URI are hardcoded in both these classes.

[2020-07-29 13:13] vinokanth92 opened #295 "NexmoResponseParseException - Unable to parse exception when terminating calls"
I am attempting to terminate a call using `VoiceClient`'s  `modifyCall` method.  I am using an Australian virtual number for testing. The action fails with a bizarre `400 Bad Request` error with a really unhelpful "Unable to parse exception". I tried replicating this issue with an US number but was not successful. So at this moment, I am only able to consistently reproduce this error for an Austra

[2020-07-29 13:15] vinokanth92 commented on #274
Come on guys any update on this? @cr0wst

[2020-07-29 15:24] yallen011 commented on #295
@vinokanth92 are you making a call to another Australian number? if not, what country does the number you are calling reside?

[2020-07-30 00:17] vinokanth92 commented on #295
@yallen011 The AU virtual number from nexmo is the destination (application). I am calling from an AU mobile number.

[2020-07-30 21:03] yallen011 commented on #295
@vinokanth92 what type of number what was that virtual number?
![image](https://user-images.githubusercontent.com/13876064/88974399-90804f00-d286-11ea-85f3-ad80072e5565.png)

[2020-07-30 21:33] yallen011 commented on #274
Relates to #294

[2020-07-30 21:34] yallen011 commented on #295
Relates to #294

[2020-07-31 04:27] vinokanth92 commented on #295
@yallen011 The number is a mobile number.

[2020-07-31 15:11] yallen011 commented on #295
@vinokanth92 are you working behind a proxy?

[2020-07-31 16:19] yallen011 commented on #264
@vinokanth92 I do not think your issue is related to this one since you are referring to voice and this issue is for SMS.

[2020-07-31 21:17] yallen011 commented on #264
@sasagonz  are you still having this issue?

[2020-07-31 21:30] yallen011 commented on #264
closing this issue as I was unable to reproduce this error given a CA virtual nexmo number and a US mobile number. If you are still seeing this error, please open an issue for your specific error with more details using the new **Bug report** template we have for reporting issues and we will investigate.

[2020-07-31 21:31] #264 closed

[2020-07-31 23:08] yallen011 commented on #277
Hi @sharmasha2nk, unlike the Record action, the Notify action doesn't return anything so it doesn't need a NotifyEvent class. Closing this issue since no action is needed.

[2020-07-31 23:19] yallen011 commented on #101
this has been implemented.

[2020-07-31 23:19] #101 closed

[2020-07-31 23:26] yallen011 opened #296 "[Feat] Add support for PSD2 verification"
Add PSD2 support to allow a user to send a PSD2-compliant payment token to a user for payment authorization.

Functionally this works much like the existing Verify endpoints, except now that requester must send a Payee Name and  Payment Amount as part of the verification message. The user will use this message to verify that they are making an eCommerce payment.

[2020-08-01 13:24] sharmasha2nk commented on #277
Hi @yallen011, not sure why you say it doesn't return anything. For Notify action also will get a request with conversation_uuid, timestamp and payload.
A class like this should be good enough for most of the cases.
[code]

[2020-08-03 16:38] yallen011 commented on #277
Hi @sharmasha2nk I was basing my response off of the docs https://developer.nexmo.com/voice/voice-api/ncco-reference#notify that didn't show any response parameters for this NCCO. I have reopened the ticket.

[2020-08-05 11:43] vinokanth92 commented on #295
@yallen011 Yes the service is behind a ALB. When testing locally it's behind `ngrok` ssh tunnel.

[2020-08-07 20:00] yallen011 commented on #295
If you have a proxy, you may need to supply a custom HTTP Client to the Nexmo class that calls the proxy.

Make sure that you can reach https://rest.nexmo.com/sms/json from your development machine or the machine that is getting this error. You can also try our cURL option at https://developer.nexmo.com/messaging/sms/code-snippets/send-an-sms/curl to see if even a basic API call works.

[2020-08-08 07:13] vinokanth92 commented on #295
@yallen011 As I mentioned in the post, it works for any USA number and fails for AU numbers. So I don't think it's issue with custom HTTP client as you pointed out. Could help me understand how this work for USA numbers?

[2020-08-08 07:14] vinokanth92 commented on #295
@yallen011 And also why do I have to check if SMS API works when the issue is with the call termination issue?

[2020-08-10 19:08] yallen011 commented on #295
@vinokanth92 sorry, I corrected my earlier response. I used the wrong links. Can you provide me with the Caller ID or to and from numbers and the timestamp of the call that received the error so that I can have support lookup the logs and see what the error was? Thank you. Or would you be willing to hop on a quick call so that I can help you troubleshoot?  Don't have access to an AU number to do a

[2020-08-16 09:12] vinokanth92 commented on #295
Sorry for the late response. I can help you trouble shoot. Please email on vinokanth.velu@gmail.com. Thank you.

[2020-08-19 21:59] #294 closed

[2020-08-25 07:29] yallen011 commented on #295
@vinokanth92 I pushed a fix in the latest version that should fix the error you are having. If it did not, please feel free to add any additional comments or ask to reopen this ticket with any new errors you may come across with this API call.

[2020-08-25 07:29] #295 closed

[2020-08-25 07:31] #274 closed

[2020-09-03 19:37] #296 closed

[2020-09-11 18:42] slorello89 opened #301 "Error from no-content responses"
https://github.com/Vonage/vonage-java-sdk/blob/0a58c70440c34c67e36d5606235d967e07f7d5ec/src/main/java/com/nexmo/client/logging/LoggingUtils.java#L33

Looks like the logger tosses an exception if you run into a situation where there is a null entity (e.g. NoContent responses)

Looks like it should probably validate the response code isn't a 204 or do some null checking. Exception I got from running

[2020-09-18 21:06] slorello89 commented on #301
I just ran the Delete application as is - Delete Application, by design, responds with no content - guessing that getEntity returns null if there's no response body?

[2020-09-22 15:34] yallen011 opened #303 "[EPIC] Hacktoberfest 2020"
![image](https://user-images.githubusercontent.com/13876064/94055451-f67ee380-fdaa-11ea-9e41-a1efcd381862.png)
<hr>

### First time Open Source contributor?
Check out the following links

- [How to Contribute](../blob/master/CONTRIBUTING.md)
- [Code of Conduct](../blob/master/CODE_OF_CONDUCT.md)

## 🎃 [**ISSUES**](https://github.com/Vonage/vonage-java-sdk/issues?q=is%3Aissue+is%3Aopen+label%3A%22H

[2020-09-28 14:11] vyj7 commented on #301
@yallen011  I would like to work on this issue.

[2020-09-28 19:09] vyj7 commented on #301
@yallen011 This the PR I have raised for the fix: https://github.com/Vonage/vonage-java-sdk/pull/304

[2020-09-29 16:53] yallen011 commented on #301
@vyj7 thank you for your contribution to the SDK. I will start reviewing it.

[2020-09-29 20:08] yallen011 opened #305 "[blitz] Remove unnecessary references to the "this" keyword"
There are several files in the SDK that reference _this.variable-name_ where it is only necessary to reference the variable using just the variable name itself. Below is a list of files that need to be changed.

### Instructions
Assign yourself to one of the files listed below by commenting with the name of the file you are going to work on, assign yourself to the PR, then link the PR you create t

[2020-09-29 20:18] yallen011 commented on #292
closed due to inactivity, feel free to reopen if you are still experiencing this problem

[2020-09-29 20:18] #292 closed

[2020-09-29 20:20] yallen011 commented on #290
We will investigate if we are or not and document this accordingly in the README.

[2020-09-29 20:22] #282 closed

[2020-09-29 20:26] #111 closed

[2020-09-29 20:32] yallen011 commented on #212
as of right now, this API is out of scope, but we will reopen if we add to scope

[2020-09-29 20:32] #212 closed

[2020-09-30 00:45] dinitrogen-tetroxide commented on #305
I would like to work on VonageClient.java.

[2020-09-30 12:35] ThanoshanMV commented on #305
I would like to work on HttpWrapper.java

[2020-09-30 13:12] WorkInProgress-Development commented on #305
Apologies if I am missing something obvious, but there doesn't seem to be a list of files on this issue.

[2020-09-30 20:48] michel-zimmer commented on #134
Have you considered adding Lombok to this project? This would also be a nice option not just for `toString`, but also as a reduction of boiler plate code for `equals` and `hashCode` and possibly more like constructors and so on. (Unless you do not want this, I'll provide a PR as part of the Hacktoberfest so that you can get an idea how this would look like.)

[2020-10-01 00:01] yallen011 commented on #305
@WorkInProgress-Development sorry, I haven't added them yet. I was still getting some of the Issues setup for Hacktoberfest. But you are more than welcome to go through the repo and if you find one that you want to work on, just comment here so that others will know that file is taken and won't try to submit a PR for the same change.

[2020-10-01 01:14] yallen011 opened #308 "Remove @author Javadoc comment from java files"
We are no longer using the `@author` javadoc comment anymore since we are open source and we use the CONTRIBUTOR.md file now for contributions

Remove **@author <name of author>** from the following files, and any other file that has it that hasn't been listed yet:

- [SnsSubscribeResponse.java](https://github.com/Vonage/vonage-java-sdk/blob/master/src/main/java/com/vonage/client/sns/response/SnsS

[2020-10-01 01:22] dolphincodes commented on #308
I would like to work on this issue.

[2020-10-01 01:38] yallen011 commented on #308
Great. Vonage appreciates your contribution. I didn't get a chance to look through the entire repo for all the other files that use it but you can do a search in your IDE to find the rest. 😄

[2020-10-01 03:40] ThanoshanMV commented on #305
@yallen011 , I would like to work on AccountClient.java, PrefixPricingEndpoint.java, PricingEndpoint.java, SecretManagementEndpoint.java, SettingsEndpoint.java, TopUpEndpoint.java, Messages.java, Rtc.java, Voice.java, Application.java, ApplicationClient.java, ApplicationEndpoint.java, ListApplicationRequest.java, AuthCollection.java, JWTAuthMethod.java, TokenAuthMethod.java

[2020-10-01 04:16] Hitesh77 commented on #305
Hi @yallen011

I would like to work in the following classes:

- SnsSubscribeResponse.java
- SnsResponse.java
- SnsRequest.java
- SmsSubmissionResponseMessage.java

Thanks

[2020-10-01 05:04] poornapragna877 commented on #305
I would like to Work on BasicInsightRequest.java

[2020-10-01 06:55] ShubhamSood1406 commented on #308
Can I also work on this?

[2020-10-01 06:58] imabhinavagarwal commented on #305
Hi @yallen011
I would like to work on ApplicationClient.java and ApplicationEndpoint.java
Thanks

[2020-10-01 10:11] imabhinavagarwal commented on #277
Hi @yallen011
I would like to work on this. Please let me know if this is open to work.
Thanks

[2020-10-01 11:42] michel-zimmer commented on #134
Feel free to command on my PR (linked above)

[2020-10-01 12:20] malakar-soham commented on #305
I would like to work on [BinaryMessage.java](https://github.com/Vonage/vonage-java-sdk/blob/master/src/main/java/com/vonage/client/sms/messages/BinaryMessage.java)

[2020-10-01 12:51] WesleyBrenno commented on #305
I would like to work on

- XmlParser.java
- NumbersClient.java
- SearchNumbersEndpoint.java
- UpdateNumberRequest.java
- RedactClient.java
- RedactEndpoint.java

[2020-10-01 12:53] SanchitaMishra170676 commented on #308
I also wanna help with this.

[2020-10-01 13:08] hbheroi commented on #305
I would like to work on:

- RedactClient.java
- RedactEndpoint.java
- MO.java
- AbstractMOServlet.java

[2020-10-01 13:16] SanchitaMishra170676 commented on #305
I would like to work on SmsClient.java

[2020-10-01 13:21] malakar-swastik commented on #305
I would like to work on [WapPushMessage.java](https://github.com/Vonage/vonage-java-sdk/blob/master/src/main/java/com/vonage/client/sms/messages/WapPushMessage.java)

[2020-10-01 13:38] Prassud commented on #305
I would like to work on below files

 Messages.java

 Rtc.java

 Voice.java

 Application.java

[2020-10-01 13:56] Prassud commented on #305
I would like to work on below files

- Messages.java

-  Rtc.java

-  Voice.java

-  Application.java

[2020-10-01 15:22] Keenal commented on #305
I'd like to contribute, if any files are still left.

[2020-10-01 15:36] Hitesh77 commented on #305
Hi All,

I am contributing to open source for the first and getting a 403(forbidden error) error can anyone please help me out on this.

Thanks in Advance.

[2020-10-01 15:59] imabhinavagarwal commented on #305
Hi @Hitesh77
Have you forked the repo or are you trying to push in main repo?
P.S.: You can ask in discord to get faster response. Here is the link https://discord.gg/hacktoberfest

[2020-10-01 17:19] Hitesh77 commented on #305
Hi @imabhinavagarwal,

Thank you so much for your help, I haven't forked the repo but now after fork, I'm not getting a 403 error.

[2020-10-01 18:28] Keenal commented on #305
I'd like to take the following files:

ListApplicationRequest.java
AuthCollection.java
JWTAuthMethod.java
TokenAuthMethod.java
ConversionClient.java
ConversionEndpoint.java

[2020-10-01 20:17] berry120 commented on #305
Hello,

I'd like to take SmsSubmissionResponse.java.

[2020-10-01 23:16] henry398 commented on #305
Hi! I'd like to work on TokenAuthMethod.java

[2020-10-01 23:24] sophieml commented on #305
I'd like to work on `AuthCollection.java`!

[2020-10-02 03:57] ILGO0413 commented on #305
I'd like to work on:
JWTAuthMethod.java
VonageUnacceptableAuthException.java
ConversionClient.java
ConversionEndpoint.java
AdvancedInsightRequest.java

[2020-10-02 04:12] ILGO0413 commented on #305
Also fixed remaining files:
InsightClient.java
StandardInsightRequest.java
MessageStatus.java
SearchRejectedMessagesRequest.java
SmsIdSearchRequest.java

[2020-10-02 05:01] rahulaarora commented on #308
I also wanna work on this

[2020-10-03 12:42] Raj-Datta-Manohar commented on #229
Hi, I would like to work on this issue. I would like to know how to determine which signing method is to be used(md5 or sha1 or sha256).

[2020-10-05 17:08] yallen011 commented on #134
Yes, I was actually looking into adding Lombok and then completely forgot about it. This looks good. Would you like to continue refactoring this for the rest of the codebase?

[2020-10-05 17:58] michel-zimmer commented on #134
Sure, I can do that. Is there a way to test this including the JSON de-/serialization? That way I could possibly simplify the code a lot. (Otherwise I don't feel confident enough, because I could break something.)

[2020-10-06 03:42] yallen011 commented on #134
We have JUnit tests you can use to make sure existing functionality still works when you change the code. Feel free to add any unit tests you feel you need to add if you don't think the existing test will suffice. Tests are located `src/test` folder. We use gradle so to run the test you can run `./gradlew build` (using the wrapper on a mac) and it will build the code and run the tests or you can d

[2020-10-06 05:46] yallen011 commented on #261
The JWT library was originally in Java, but it relied on another package for the heavy lifting of generating JWTs and was a thin wrapper to do the things we needed. It used Auth0, and was a massive dependency.
The Kotlin rewrite was ultimately smaller and easier to maintain than the Auth0 one. So while the Kotlin standard library dependency is pulled in, it's actually still better off than the Aut

[2020-10-06 05:46] #261 closed

[2020-10-06 06:07] michel-zimmer commented on #134
OK, could you maybe merge the PR? I'd like to build on top of that one, but the PR has been unlinked from my fork and I cannot add new commits.

[2020-10-08 18:10] #308 closed

[2020-10-08 18:24] yallen011 commented on #305
@imabhinavagarwal  thank you so much for hopping in and helping out with  @Hitesh77's question ⭐

[2020-10-08 22:35] sirNikolai opened #342 "Change deprecated testing imports"
Should be an improvement but noticed in unit testing that `junit.framework.Assert` is used quite a bit. This has been deprecated for a while https://github.com/junit-team/junit4/issues/473 and since this project is active should transition to non-legacy methods `org.junit.Assert` for better maintainability (or even JUnit 5).

[2020-10-09 04:34] daniel-shuy commented on #305
I'll take the remaining:
- AuthCollection.java
- SmsDateSearchRequest.java

[2020-10-09 19:43] aryanrawlani28 commented on #305
Hi!
I'll take `CheckEndpoint.java` & `CheckResponse.java`.
Cheers!

[2020-10-09 21:04] Code0987 commented on #305
Hey,

Taking up some extras `HttpConfig.java` `AbstractMethod.java`.

Thanks.

[2020-10-12 20:37] yallen011 commented on #342
Hi @sirNikolai would you like to submit a PR for this?

[2020-10-12 20:40] sirNikolai commented on #342
I think someone else started one. Was more interested in whether it would be a decent idea to move altogether to JUnit 5. Otherwise I wouldn't mind leaving it for someone else since already have a PR for something else out. That said if there are no takers can always circle back and do this over the weekend.

[2020-10-12 20:51] yallen011 commented on #229
Sure, have at it.

[2020-10-20 23:41] yallen011 commented on #342
yes, I don't think there are any takers for this so you can totally take this on. The push is to move to JUnit 5. The other PR was centered around a Hacktoberfest issue and not particularly around removing deprecated testing imports. So if you are up for it, I will assign it to you.

[2020-10-21 00:15] sirNikolai commented on #342
@yallen011 sure go for it. Can get the fundamentals of it done at least.

[2020-10-21 00:49] #301 closed

[2020-10-29 14:27] #277 closed

[2020-10-29 19:46] #305 closed

[2020-11-16 06:42] #288 closed

[2020-11-16 17:50] yallen011 commented on #303
Hacktoberfest has ended. Thank you to everyone that contributed.

[2020-11-16 17:50] #303 closed

[2020-11-16 17:52] yallen011 commented on #290
Verbiage added to README. We do not currently support thread safety in this SDK

[2020-11-16 17:52] #290 closed

[2020-11-16 17:54] yallen011 commented on #342
Fixed in 6.0.0 release

[2020-11-16 17:54] #342 closed

[2020-11-17 14:05] AlexisCothenet opened #357 "Deprecated options on TalkAction ?"
Hello,

In the [doc](https://developer.nexmo.com/voice/voice-api/ncco-reference#talk), we can see several options that should be available for Talk.
For  `TalkAction` inside the sdk, i cannot see the options _language_ and `style` but instead `voicename`.

Should the `voicename` be determined according the language ? Is there a helper function ?
Thanks.

**Vonage SDK Version**
 - Version:6.0.0

[2020-11-17 14:33] AlexisCothenet commented on #357
I just see in the api [reference](https://developer.nexmo.com/api/voice#createCall) that the `voicename` is deprecated.
Is it planned to update the sdk options according the new api reference ?

[2020-12-17 19:37] #357 closed

[2021-01-26 21:32] baroved1 opened #359 "Generate Signature Method"
![1](https://user-images.githubusercontent.com/78050926/105908931-879ee900-602f-11eb-9fc8-d1b91b9e6338.PNG)
![2](https://user-images.githubusercontent.com/78050926/105908934-88d01600-602f-11eb-9f5b-1d2d442a8035.PNG)

Hello,
I have tried to generate signature from your library – for test my webhook and validate signature.
But I got invalid signature.
I attached my unit test code, What Am I doing wr

[2021-01-26 22:08] dragonmantank commented on #359
Instructions for manually generating a hash can be found here:

https://developer.nexmo.com/concepts/guides/signing-messages#manually-generate-a-signature

This will let you generate a hash that can be used to validate an incoming SMS webhook. The biggest issue is usually the ordering of the parameters.

The above instructions only work for the SMS/Messaging API. This does not apply to the newer M

[2021-01-26 22:32] slorello89 commented on #359
Hi @baroved1 - looks like you posted a .NET question in our Java SDK :) - did you check out the https://github.com/nexmo-community/vonage-aspnetcore library we just published last month? It has a capability for adding a middleware component to validate inbound SMS messages. Also the [InboundSms](https://github.com/Vonage/vonage-dotnet-sdk/blob/master/Vonage/Messaging/InboundSms.cs#L61) class has a

[2021-01-26 22:47] baroved1 commented on #359
yes, I use in ValidateSignature Method but i get false(Invalid Signature), I think i am missing something when i use in generateSignature Method.

[2021-01-27 21:04] slorello89 commented on #359
closing as this issue was opened in the .NET SDKs repo.

[2021-01-27 21:04] #359 closed

[2021-02-04 10:46] nilaydave38 opened #360 "JWT signature issue"
Hello,

I am getting below error:-
`Caused by: java.lang.NoSuchMethodError: io.jsonwebtoken.JwtBuilder.signWith(Ljava/security/Key;Lio/jsonwebtoken/SignatureAlgorithm;)Lio/jsonwebtoken/JwtBuilder;`

I had included Vonage client dependency as described in **readme** file:-
`
		<dependency>
		      <groupId>com.vonage</groupId>
		      <artifactId>client</artifactId>
		      <version>6.1.0</version>

[2021-02-04 18:13] slorello89 commented on #360
Hi @nilaydave38

Sounds like your project isn't pulling in io.jsonwebtoken - which is a dependency of nexmo jwt library that the vonage-java-sdk uses to generate web-tokens - can you validate your pom file isn't pulling in a different version? https://github.com/Nexmo/nexmo-jwt-jdk/blob/main/pom.xml#L72 - see here for what we use. May want to make sure that it's being restored properly and the app

[2021-02-05 04:18] nilaydave38 commented on #360
Hello @slorello89
Thank you for your response :)
I already included that too :)
Here it is in current pom.xml:-

		<dependency>
		      <groupId>com.vonage</groupId>
		      <artifactId>client</artifactId>
		      <version>6.1.0</version>
		</dependency>

		<dependency>
		  <groupId>com.nexmo</groupId>
		  <artifactId>jwt</artifactId>
		  <version>1.0.1</version>
		</dependency>

Even I tried to a

[2021-02-08 04:45] nilaydave38 commented on #360
Hello @slorello89

Any update for this issue?
I tried a lot and doubt that issue maybe with the token generated by Vonage, still not sure.
Even I tried with other websites for a key generation but they are giving **Base64 illegal character exception for decoding** so will you please tell me which website I would refer for key generation and in which format Vonage Client will take that key?
Or if y

[2021-02-08 13:30] slorello89 commented on #360
Hi @nilaydave38 - can you share with me an example project where this is happening? I can't reproduce it on my end.

thanks,

[2021-02-09 10:28] nilaydave38 commented on #360
Hello @slorello89
Thank you for your response :)
I finally got the solution for that issue :) That issue coming because of some dependency conflicts. I successfully get solved **(Finally).**
But now I want to make an app like any two global mobile number (person) can connect via Vonage and can talk to each other.
I did not get any example to do that with Java SDK.
Do you have any link where I can

[2021-02-09 15:19] slorello89 commented on #360
Hi @nilaydave38 - sort of figured it was a dependency conflict so that makes sense - do you happen to know which dependency, in particular, was causing it so we know for posterity?

RE your question - we have a very similar use case laid out here: https://developer.nexmo.com/use-cases/private-voice-communication - this will let you build a voice proxy between two numbers. This demo is shown in jav

[2021-02-09 15:19] #360 closed

[2021-02-10 04:51] nilaydave38 commented on #360
Hello @slorello89
The same JWT token functionality is used by spring security to generate token and in that older version of **JJWT** dependency used so I had to exclude it so now working fine :)

And yes thank you for your guidance and support I will check it and if have any doubts that ask in community slack, thank you for sharing that URL :)

[2021-09-19 07:01] saggammahesh opened #371 "Getting missed call instead of rining"
Hi Team,
I've just onboarded to Vonage and tried to integrate with voice api.  Sometimes, May be 2 out of 10 times I'm getting a missed call, Basically it's not ringing, just getting a missed call.
Here is the code snippet i'm using. please let me know if anything i'm doing wrongly.
![image](https://user-images.githubusercontent.com/7000621/133918640-1a72e80d-426b-46ed-80bf-505908a281e6.png)

[2021-09-20 07:35] skaluva opened #372 "Need jdk1.7 compatible vonage-client jar"
Hi,
We are planning to use vonage-client jar for validating incoming message. But it seems it is compatible with JDK 1.8. But unfortunately, we are still using JDK1.7 on our servers. I tried to build source code using JDK1.7 but its not working.
Can you please suggest if there is a way to get JDK1.7 compatible jar?

[2021-09-21 23:19] kiamesdavies opened #373 "Cant create Call object from Json"
Consider this simple json
[code]
Doing `Call.fromJson(json)` will cause an exception as the the Ncco Action SubType is not properly defined in the call object

[2021-10-06 09:05] JamiesWhiteShirt opened #374 "When is javax.servlet a required dependency?"
It seems `javax.servlet` is an optional dependency of the Vonage Java SDK by design (https://github.com/Vonage/vonage-java-sdk/commit/a39be5f998741862c1aa7d29661f0f6aebf3fda1). I can not find any documentation mentioning that it is an optional dependency, nor when it is necessary to have it installed when using the Vonage Java SDK. It seems to not be required for sending SMS with request signing,

[2022-03-14 12:47] kkazak-wr opened #375 "Support for retrieve outbound pricing for all countries API"
Hello,

Is there any plans to add support to retrieve outbound pricing for all countries API?

GET https://rest.nexmo.com/account/get-full-pricing/outbound/:type

see second API here https://developer.nexmo.com/api/pricing?theme=dark

[2022-05-03 16:39] SMadani commented on #372
Hello,
As Java 7 is [officially end of life](https://www.oracle.com/java/technologies/java-se-support-roadmap.html), we do not currently support it. We recommend that you upgrade to at least Java 8, preferably Java 17 if possible as that is the latest long-term support release.

[2022-05-03 16:39] #372 closed

[2022-05-06 12:12] SMadani commented on #73
Done - now documented under https://confluence.vonage.com/display/DEVREL/Java+SDK+Release+Process

[2022-05-06 12:12] #73 closed

[2022-05-18 11:16] SMadani commented on #375
This has been implemented in #381 and will be available in the next release.

[2022-05-18 11:16] #375 closed

[2022-06-28 11:46] mend-for-github-com[bot] opened #388 "jwt-1.0.1.jar: 1 vulnerabilities (highest severity is: 5.3) - autoclosed"
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jwt-1.0.1.jar</b></p></summary>

<p></p>
<p>Path to dependency file: /build.gradle</p>
<p>Path to vulnerable library: /home/wss-scanner/.gradle/caches/modules-2/files-2.1/org.jetbrains.kotlin/kotlin-stdlib/1.3.31/11289d20fd95ae219333f3456072be9f08

[2022-07-27 15:22] SMadani commented on #373
Thank you for reporting. This is addressed in #400.

[2022-07-27 15:22] #373 closed

[2022-08-10 14:57] #388 closed

[2022-08-17 10:43] pablosantiago opened #405 "Wrong Content-Type for Verify requests"
**Describe the bug**
When using the Java SDK to make requests to the Verify API, the calls fails due to wrong `Content-Type` header.
`VerifyEndpoint` creates a HTTP request with `Content-Type` set as `application/json` but adds all parameters as URL parameters. No JSON request body is created.
This results in the following response:

[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

[2022-08-17 10:52] pablosantiago commented on #405
Removing the `Content-Type` header (still a POST request with `Accept=application/json`), results in:
[code]

However, changing it to a GET request works.
According to the [documentation](https://developer.vonage.com/api/verify#requests), both GET and POST should work.

[2022-08-17 12:53] pablosantiago commented on #405
It works with version 6.4.2 but not with > 6.5.0.

[2022-08-22 11:00] xejarque commented on #405
Exactly the same issue upgrading to version 7.0.0

[2022-08-25 23:09] SMadani commented on #405
Fixed in 7.1.0 (available now).

[2022-08-25 23:09] #405 closed

[2022-10-03 01:24] mend-for-github-com[bot] opened #415 "jackson-databind-2.13.3.jar: 2 vulnerabilities (highest severity is: 5.5)"
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.13.3.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackson">http://github.com/FasterXML/jackson</a></p>
<p>Pa